body{
    width: auto;
    font-family: syne, sans-serif;
    max-width: 1440px;
    min-width: 320px;
    margin: auto;
}

header{
    display: none;
}

a, a:visited{
    text-decoration: none;
    color: inherit;
}

.wpcf7-response-output {
    display: none;
}

/* HEADER */

#header{
    display: flex;
    justify-content: space-between;
    height: 78px; 
    background-color: white;
}

.logo{
    width: 201px;
    height: 19px;
    margin: 31px 0px 30px 37px;
}

li.menu-item{
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

li.menu-item:hover{
    font-weight: 700;
}

#menu-item-16{
    color: white;
    font-weight: 700;
    background-color: #DC9F96;
    padding-left: 61px;
    padding-right: 61px;
    padding-top: 31px;
    padding-bottom: 31px;
    margin-left: 31px;
}

#menu-item-16:hover{
    background-color: #C02E44;
}

/* FORMS */

.page-id-11 .wpcf7-text, .wpcf7-email, .wpcf7-textarea{
	margin-top: 13px !important;
    display: flex;
    flex-direction: column;
}

.wpcf7-textarea{
    resize: none;
}

.wpcf7-spinner{
	display: none;
}

.buttonNousrencontrer{
    display: flex;
    justify-content: center !important;
}

/* Selecteur Form */

.selecteurs{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.selection{
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    margin-top: 15px;
}

.quantityIncrease{
    display: flex !important;
    flex-direction: row !important;
    margin-right: 11px;
}

.quantity{
	width: 51px !important;
	height: 56px !important;
	border: none;
	text-align: center;
    border-radius: 5px 0 0 5px !important;
    margin-top: 0px;
}

::placeholder {
    opacity: 2;
 }

.plusminus{
    display: flex;
    flex-direction: column;
}

input[type=submit] {
	background-color:#DC9F96;
	line-height: 26px;
	padding-top: 0px;
    border: none;
    color: white;
    font-weight: 400;
}

input[type=submit]:hover{
	background-color: #DC9F96;
}

.plus{
    font-weight: 600 !important;
	border-radius: 0px 5px 0px 0px !important;
	border-bottom: solid 2px white !important;
	text-align: center;
    padding: 0px 10px !important;
    padding-bottom: 2.5px !important;
}

.minus{
    font-weight: 600 !important;
	border-radius: 0px 0px 5px 0px !important;
    text-align: center;
    padding: 0px 10px !important;
}

.plus:hover, .minus:hover{
	background-color: #C02E44 !important;
    cursor: pointer;
}

.validation{
	background-color:#DC9F96;
	font-size: 15px;
    font-weight: 400; 
    width: 100px !important;
    height: 56px !important; 
	padding: 9px 0px 10px 0px !important;
	border: none;
    border-radius: 5px !important;
}

.validation:hover{
	background-color: #C02E44 !important;
    cursor: pointer;
}

.dividerSelecteurs{
    color: white;
    margin-top: 40px !important;
    margin-bottom: 55px !important;
}

/* Commande Form */

.commandeForm .wpcf7-text, .wpcf7-email{
	margin-top: 13px !important;
    display: flex;
    flex-direction: column;
    width: 383px !important;
    height: 71px !important;
    border: none;
    border-radius: 7px !important;
    font-family: "Syne", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 8px !important;
}

.commandeForm{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.infos{
    display: flex !important;
    flex-direction: row !important;
    margin-bottom: 44px !important;
}

.titleCommande{
    color: white;
}

.textTitle{
    color: white !important;
    margin-top: 30px !important;
    font-size: 20px;
}

.dividerCommande{
    color: white;
    margin-left: 45px !important;
    margin-right: 45px !important;
}

.identity, .adress{
    display: flex !important;
    flex-direction: column !important;
}

.buttonCommande{
    font-size: 15px;
    height: 55px !important;
    padding: 0px 57px !important;
    background-color: #E0B9B4 !important;
    border-radius: 7px !important;
}

.buttonCommande:hover{
    background-color: #C02E44 !important;
    cursor: pointer;
}

/* FOOTER */

#footer{
    display: flex;
    height: 60px;
    padding: 20px 0px 21px 0px;
    justify-content: center;
    align-items: center; 
    z-index: 1000; 
    background-color: white;
}

/* MEDIA QUERIES */

@media (max-width: 900px){
    .infos{
        display: flex !important;
        flex-direction: column !important;
        margin-bottom: 44px !important;
    }

    .dividerCommande{
        color: white;
        margin-top: 45px !important;
        margin-bottom: 45px !important;
    }
}

@media (max-width: 800px) {
    
    #header{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
    }

    .logo{
        margin: 15px 0px 0px 0px;
    }
    li.menu-item{
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        margin-bottom: 10px;
    }

    li.menu-item:hover{
        font-weight: 500;
    }

    #menu-item-16{
        color: white;
        font-weight: 700;
        background-color: #DC9F96;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-left: 10px;
    }

    .selecteurs{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .selecteurFruits{
        margin-bottom: 10px !important;
    }

    .selection{
        justify-content: center;
    }

    .titleCommande{
        color: white;
        text-align: center !important;
    }

    .commande .wpcf7-text, .wpcf7-email{
         width: 300px !important;
    }

    .page-id-11 .wpcf7-email{
        width: 383px !important;
    }


}

@media (max-width: 480px){

    #header{
        height: 90px;
    }

    li.menu-item{
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 13px;
    }

    #menu-item-16{
            color: white;
            font-weight: 700;
            background-color: #DC9F96;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 7px;
            padding-bottom: 7px;
            margin-left: 10px;
    }

    #wpcf7-f501-p13-o1{
        display: flex;
        flex-direction: row;
    }

    .commandeForm .wpcf7-text, .wpcf7-email{
        width: 300px !important;
    }
}